<h1>Editing category</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Show this category", add_expense_path(@category.name) %> |
  <%= link_to "Back to categories", categories_path %>
</div>
