<div>
  <p style="color: green"><%= notice %></p>

  <h1 class="titles">Categories</h1>

  <div id="categories">
    <% @categories.each do |category| %>            
      <%= link_to add_expense_path(category.name) do %>
        <%= render category %>
      <% end %>      
    <% end %>
  </div>

  <%= link_to "New category", new_category_path %>
<div>
